body {
  margin: 0;
  font-family: Helvetica;
}

.app-bar {
  background-color: aquamarine;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.title {
  font-size: 64px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.paragrafo {
  margin-bottom: 16px;
  margin-left: 12px;
  font-size: 18px;
}

p {
  margin: 0;
}

.nav-link {
  color: green;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  background-color: violet;
  margin-right: 24px;
}

#logo {
  width: 200px;
}
